* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-dark: #1f2937;
    --color-white: #f9faf8;
    --color-secondary: #e5e7eb;
    --color-blue: #3882f6;
    --color-gray: #6d747d;

    /* Typography */
    --font-main: 'Roboto', sans-serif;
    --font-xs: 18px;
    --font-sm: 24px;
    --font-md: 36px;
    --font-lg: 48px;
    --weight-light: 300;
    --weight-normal: 400;
    --weight-bold: 900;

    /* Spacing */
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 32px;
    --space-lg: 48px;
    --space-xl: 80px;

    /* Layout */
    --container-max-width: 1200px;
    --container-padding: 40px;
}

/* to create spaces between the containers I am using margin on the respective "inner containers" */

/* ================== BODY SETUP ================== */
body {
    font-family: var(--font-main);

    /*Flexbox für Sticky footer und gleichmäßige Verteilung*/
    display: flex; 
    flex-direction: column;
}


body > * {
    flex: 1;
}


/* ================== UTILITIES ================== */

.button {
    padding: var(--space-xs) var(--space-md);
    border-radius: 8px;
    border: none;
    font-size: var(--font-xs);
    font-weight: bold;
    cursor: pointer;
}
/* ================== HEADER ================== */

.header {
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    /* margin: 100px 100px; */
}

.container-header {
    margin-top: var(--space-md);
    margin-bottom: var(--space-xl);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* is this really needed? */
    margin-bottom: var(--space-xl);
}


.logo {
    font-size: var(--font-sm);
    font-weight: var(--weight-bold);
}

/* .nav-links ul {...} is the descendent-selector: "Select any <ul> that is inside .nav-links"*/
/* list-style is applied to the ul --> of course the name list-style gives it away */
.nav-links ul {
    display: flex;
    gap: var(--space-md);
    list-style: none;
}

.nav-links a {
    color: var(--color-secondary);
    text-decoration: none;
    font-size: var(--font-xs); 
}

.hero {
    display: flex;
    gap: var(--space-lg);
    justify-content: space-between;
    align-items: center;
}


.hero-content h1 {
    font-size: var(--font-lg);
    font-weight: var(--weight-bold);
    margin-bottom: var(--space-sm);
}

.hero p {
    font-size: var(--font-xs);
    color: var(--color-secondary);
    margin-bottom: var(--space-md);
}

.button-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.hero-image {
    flex: 0 0 450px;
    height: 250px;
    background-color: var(--color-gray);
    display: flex; 
    align-items: center; 
    justify-content: center;
}

/* -------------------- INFO-SECTION -------------------- */

.container-info-section {
    margin-top: var(--space-md);
    margin-bottom: var(--space-xl);
}

.container-info-section h2 {
    margin-bottom: var(--space-md);
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-lg);
}

.card {
    width: 180px;
    height: 250px;
    text-align: center;
}

.frame {
    width: 170px;
    height: 170px;
    border-style: solid;
    border-color: #3b82f6;
    border-radius: 8px;
    border-width: 4px;
    margin-bottom: 8px;
}
        
/* -------------------- QUOTE-SECTION -------------------- */

/* important learning: if I don't put a constraining width into the .quote-section(...) or one of his child-divs, then display: flex + justify-content: center won't work*/

.quote-section {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center; 
}

.container-quote {
    margin: var(--space-xl) 0;
    max-width: var(--container-max-width); /* REALLY IMPORTANT !!! */
}

.container-quote blockquote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

/* how does the solution align the subtext? Why does text-align: right only work, if i apply it here in the footer, and not in the cite? Why doesn`t the font-style apply to the text if I put it in here?*/
.container-quote footer {
    text-align: right;
}

.container-quote footer cite {
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
}

/* -------------------- Body-Container-Three -------------------- */

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

.cta-box {
    flex-grow: 1;
    background-color: var(--color-blue);
    border-radius: 8px;
    margin: var(--space-xl) 0;
    max-width: var(--container-max-width); /* REALLY IMPORTANT !!! */
    padding: var(--container-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    margin: 0;

}

.button-secondary {
    background-color: var(--color-blue);
    border: var(--color-white);
    border-style: solid;
    border-width: 2px;
    color: #f9faf8;
}

/* -------------------- FOOTER -------------------- */
.footer {
    padding: var(--container-padding);
    color: var(--color-white);
    background-color: #1f2937;
    text-align: center;
}
