/* 
1.) Open the following link:

https://www.theodinproject.com/lessons/foundations-landing-page
- open the 2 pictures

2.) Open live server and goal picture
 */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

body > * {
    flex: 1;
}

.button {
    padding: 8px 28px;
    border-radius: 8px;
}


/* will be interesting to see, how the solution handled the padding left and right
* finally found my solution with 'CSS always uses the same page spacing on the left and right'
* */

.filler {
    flex-grow: 1;
    flex-basis: 20%;
    min-width: 0;
}

/* -------------------- Header -------------------- */

/* Ask LLM: why doesn't it work, if i put align-items: space-around here? if i do it, the divs just stick left and right, but there is no space on the edges. Is it maybe, bc ther is only one item 'heade-wrapper' then, and thats why there is no space distributed on the edges?*/
.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px;
    display: flex;
    /* justify-content: space-around; */
}

.header-wrapper {
    flex-basis: auto;
    flex-grow: 4;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.header-top-left {
    font-size: 24px;
    font-weight: 900;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

#secondary-text {
    font-size: 18px;
    color: #f9faf8;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 60px;
}

.button-top {
    background-color: #3882f6;
    border: none;
    margin-top: 10px;
    color: #f9faf8;
}

/* ask LLM: this container is still growing and shrinking, if I change size of browser*/
.header-bottom-right {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    width: 450px;  
    background-color: #6d747d;
}

.image-placeholder {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
    margin: auto auto;
}

/* .header-bottom-left { */
/*     width: 450px; */
/* } */

/* -------------------- Header END -------------------- */


/* TODO: make sure that all sections are same size; now they are not, bc of paddings etc.*/
/* wrapper to make all sections between header and footer the same size */
/* .body-wrapper { */
/*     display: flex; */
/*     flex-direction: column; */
/* } */
/**/
/* .body-wrapper > * { */
/*     flex: 1; */
/* } */

/* -------------------- Body-Container-One -------------------- */


/* why isnt the grey placeholder-box filling out all the space? bc the background color was in the wrong div (here), has to be one level higher*/
/* .image-placeholder { */
/*     flex: 1; */
/*     text-align: center; */
/*     margin: auto; */
/* } */

h2 {
    /* all children of body element have padding of 10px */
    margin-top: 30px; 
    margin-bottom: 40px;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}


.bco-card-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
}

.card {
    width: 180px;
    height: 250px;
    text-align: center;
}

.frame {
    width: 170px;
    height: 170px;
    border-style: solid;
    border-color: #3b82f6;
    border-radius: 8px;
    border-width: 4px;
    margin-bottom: 8px;
}
        
#information {
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
/* -------------------- Body-Container-One END -------------------- */


/* -------------------- Body-Container-Two -------------------- */

/* TODO: make this "footer" appear on the right side*/
.body-container-two {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    /* padding: 60px 60px; */
}

.quote {
    flex-grow: 4;
    margin-bottom: 60px;
    margin-top: 60px;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

/* how does the solution align the subtext? Why does text-align: right only work, if i apply it here in the footer, and not in the cite? Why doesn`t the font-style apply to the text if I put it in here?*/
footer {
    text-align: right;
}

cite {
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
}
/* -------------------- Body-Container-Two END -------------------- */

/* -------------------- Body-Container-Three -------------------- */

.body-container-three {
    display: flex;
    align-items: center;
    color: #f9faf8;
}

.bc3-blue-container {
    flex-grow: 4;
    background-color: #3b82f6;
    border-radius: 8px;
    padding: 40px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
}

h3 {
    margin: 0;

}

.button-bottom {
    flex-shrink: 0;
    background-color: #3b82f6;
    border: #f9faf8;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    color: #f9faf8;
}
/* -------------------- Body-Container-Three END -------------------- */


/* -------------------- Footer -------------------- */
.footer {
    padding-top: 40px; 
    padding-bottom: 40px;
    color: #f9faf8;
    background-color: #1f2937;
    text-align: center;
}

/* -------------------- Footer END -------------------- */
