/* 
1.) Open the following link:

https://www.theodinproject.com/lessons/foundations-landing-page
- open the 2 pictures

2.) Open live server and goal picture
 */

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

/* will be interesting to see, how the solution handled the padding left and right
* finally found my solution with 'CSS always uses the same page spacing on the left and right'
* */
/* body > * { */
/*     padding: 10px 180px; */
/* } */

/* -------------------- Header -------------------- */
.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 10px 180px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

#header-logo-text {
    font-size: 24px;
    font-weight: 900;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

#secondary-text {
    font-size: 18px;
    color: #f9faf8;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.button {
    padding: 8px 28px;
    border-radius: 8px;
}

.button-top {
    background-color: #3882f6;
    border: none;
    margin-top: 10px;
    color: #f9faf8;
}

.header-bottom-right {
    display: flex;
    width: 450px;  
    background-color: #6d747d;
}

.header-bottom-left {
    width: 450px;
    margin-right: 40px;
}

/* -------------------- Header END -------------------- */


/* TODO: make sure that all sections are same size; now they are not, bc of paddings etc.*/
/* wrapper to make all sections between header and footer the same size */
.body-wrapper {
    display: flex;
    flex-direction: column;
}

.body-wrapper > * {
    flex: 1;
}

/* -------------------- Body-Container-One -------------------- */

.body-container-one {
    padding: 10px 180px;
}

/* why isnt the grey placeholder-box filling out all the space? bc the background color was in the wrong div (here), has to be one level higher*/
.image-placeholder {
    flex: 1;
    text-align: center;
    margin: auto;
}

h2 {
    /* all children of body element have padding of 10px */
    margin-top: 30px; 
    margin-bottom: 40px;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

img {
    width: 180px;
    height: 180px;
}

.bco-card-wrapper {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 180px;
    height: 250px;
    text-align: center;
}
        
#information {
    font-weight: 900;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}
/* -------------------- Body-Container-One END -------------------- */


/* -------------------- Body-Container-Two -------------------- */

/* TODO: make this "footer" appear on the right side*/
.body-container-two {
    background-color: #e5e7eb;
    padding: 60px 180px;
}

.quote {
    display: flex;
    flex-direction: column;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

/* how does the solution align the subtext? Why does text-align: right only work, if i apply it here in the footer, and not in the cite? Why doesn`t the font-style apply to the text if I put it in here?*/
footer {
    text-align: right;
}

cite {
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
}
/* -------------------- Body-Container-Two END -------------------- */

/* -------------------- Body-Container-Three -------------------- */

.body-container-three {
    padding: 60px 180px;
    color: #f9faf8;
}

.bc3-blue-container {
    background-color: #3b82f6;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3 {
    margin: 0;

}

.button-bottom {
    background-color: #3b82f6;
    border: #f9faf8;
    border-style: solid;
    border-width: 2px;
    margin-top: 10px;
    color: #f9faf8;
}
/* -------------------- Body-Container-Three END -------------------- */


/* -------------------- Footer -------------------- */
.footer {
    padding: 20px 180px;
    color: #f9faf8;
    background-color: #1f2937;
    text-align: center;
}

/* -------------------- Footer END -------------------- */
